img {
  height: -webkit-fill-available;
}


.modal-back {
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
}

.modal-forward {
  cursor: pointer;
  margin-left: 10px;
  user-select: none;
}

.modal-nav-container {
  padding: 5px 0;
  text-align: center;
  user-select: none;
}