/*
color pallete 
#000000
#0f1427
#eedfca
#ab1401
#ffffff


#2b2b2b
#a6a6a6
#a5c0dd
#b43838
#eedfca
*/

:root {
  --blackjr: #131312;
  --darkjr: #2b2b2b;
  --grayjr: #a6a6a6; 
  --bluejr: #5487b9;
  --redjr: #b43838; 
  --beigejr: #eedfca;
}

/* font-size on html for rem*/
html {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

body {
  margin: 0px;
  padding: 0px;
  color: var(--grayjr);
  background: var(--blackjr);
}

.main {
  background-color: var(--blackjr);
}

.page--filtering {
  background-color: var(--blackjr);
}


.w3-modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: stretch;
  align-content: stretch;
  background: rgba(0, 0, 0, 0.68);
  z-index: 1;
}
.w3-modal-content{
  height: 90vh;
  padding-top: 3vh;
  justify-content: center;
}

.modal-img {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  height: -webkit-fill-available;
}

.gallery {
  position: relative;
  height: -webkit-fill-available;
}

.video-placeholder {
  position: relative;
  height: -webkit-fill-available;
}

.modal-nav-container {
  padding: 5px 0;
  text-align: center;
  user-select: none;
}

.modal-back {
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
}

.modal-forward {
  cursor: pointer;
  margin-left: 10px;
  user-select: none;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.divider {
  width: 3px;
  background-color: var(--darkjr);
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: -webkit-fill-available;
}


.mobile-divider {
  background-color: var(--darkjr);
  margin-top: auto;
  margin-bottom: auto;
  width: -webkit-fill-available;
  height: 1px;
}


.special {
  display: none;
  background-color: var(--darkjr);
  margin-top: auto;
  margin-bottom: auto;
  width: -webkit-fill-available;
  height: 1px;
}


.portfolio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 4vh;
  /* line-height: 2rem; */
}

.intro-text {
  font-size: 1.2rem;
}

.welcome-text {
  color: rgb(170, 170, 170);
  font-size: 1.6rem;;
  line-height: 2rem;
}

.equipment-header {
  color: var(--bluejr);
  font-size: 1.4rem;
}

li {
  list-style: none;
  text-align: left;
}

.contact-header {
  color: var(--bluejr);
  font-size: 1.4rem;
}

.distortion {
  width: 52%;
  height: 90vh;
  margin-bottom: 2%;
}

.logo-icon {
  height: 150px;
  width: auto;
  left: 0%;
  position: relative;
}

.sm-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 4vh;
}

.filter-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  align-content: center;
  height: 10vh;
}

.logo-sm{
  cursor: pointer;
  margin: 0px;
  height: 50px;
  width: 50px;
  opacity: 70%;
}

#grid {
  margin-left: 2%;
  margin-right: 2%;
}

.video {
  cursor: default !important;
}

.play-video-icon {
  position: absolute;
  left: 45%;
  bottom: 0%;
  font-size: larger;
  cursor: pointer;
}

.close-video-icon {
  position: absolute;
  left: 45%;
  bottom: 0%;
  font-size: xx-large;
  cursor: pointer;
}

.content2_videoFrame {
  width: -webkit-fill-available;
  height: -webkit-fill-available;;
}

.button:enabled {
  cursor: pointer;
}

.button.is-checked,
.button.is-selected {
  background-color: var(--bluejr);
  color: white;
}

.button-group .button {
  color: var(--grayjr);
  border-radius: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1.1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.button:hover {
  color: var(--bluejr);
}

/* hide radio inputs */
.button input[type="radio"] { display: none; }




.button.is-checked,
.button.is-selected {
  background-color: var(--redjr);
  color: white;
}

/* element-item
------------------------- */

.element-item {
  position: relative;
  margin: 3px;
  width: max-content;
  height: 300px;
  color: var(--grayjr);
  border: 3px solid hsla(0, 0%, 0%, 0.7);
  cursor:zoom-in;
}

.wide-element-item {
  min-width: 450px;
}

.narrow-element-item {
 min-width: 195px; 
}

.element-item:hover {
  border-color: var(--bluejr);
}

.element-item > * {
  margin: 0;
  padding: 0;
}

@media screen and ( max-width: 1380px ) {
  .w3-modal{
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.68);
    z-index: 1;
  }

  .w3-modal-content{
    padding: 0;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }

  .modal-img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    left: 0;
  }

  .divider {
    display: none;
  }

  .special {
    display: block;
  }

  .distortion {
    display: none;
  }

  .portfolio-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2vh;
    line-height: 1.2rem;
    font-size: 1.2rem;
  }

  .mobile-divider {
    margin: auto;
  }

  .element-item {
    border: none;
    height: 180px;
  }

  .wide-element-item {
    min-width: 61%;
  }

  .welcome-text {
    font-size: 1.6rem;
  }

  .sm-cont {
    justify-content: space-around;
    max-width: 818px;
  }

  .fuel-text {
    max-width: 818px;
  }

  .narrow-element-item {
   min-width: 35%; 
  }

  .filter-button-group {
    height: auto;
  }


  .button {
    padding: 0px;
  }

  .modal-nav-container {
    display: none;
  }

  .play-video-icon {
    font-size: small;
  }

  .gallery {
    border: 2px solid hsla(0, 0%, 0%, 0.7);
  }

  .gallery {
    position: relative;
    height: -webkit-fill-available;
  }
  
  .video-placeholder {
    position: relative;
    height: -webkit-fill-available;
  }
  
  .close-video-icon {
    font-size: medium;
    bottom: 15%;
  }

  .sm-cont {
    justify-content: space-around;
  }

  .logo-sm {
    height: 40px;
    width: 40px;
  }

  .welcome-text {
    text-align: center;
  }

  .button-group .button {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  .grid {
    margin-top: 2%;
  }

  .wide-element-item {
    min-width: 30%;
  }
  
  .narrow-element-item {
   min-width: 30%; 
  }

}

@media screen and ( max-width: 550px ) {
  .portfolio-info {
    line-height: 1rem;
    font-size: 0.9rem;
  }

  .button-group .button {
    padding: 0.5rem;
  }

  .welcome-text {
    font-size: 1.4rem;
  }
}

@media screen and ( max-width: 440px ) {
  .logo-sm {
    height: 30px;
    width: 30px;
  }
}


@media screen and ( max-width: 320px ) {
  .portfolio-info {
    line-height: 1rem;
    font-size: 0.6rem;
  }

  .button-group .button {
    padding: 0.3rem;
  }


}