/*
color pallete 
#000000
#0f1427
#eedfca
#ab1401
#ffffff


#2b2b2b
#a6a6a6
#a5c0dd
#b43838
#eedfca
*/

:root {
  --blackjr: #131312;
  --darkjr: #2b2b2b;
  --grayjr: #a6a6a6; 
  --bluejr: #5487b9;
  --redjr: #b43838; 
  --beigejr: #eedfca;
}

.main {
  background-color: var(--blackjr);
}

.page--filtering {
  background-color: var(--blackjr);
}

img {
  height: -webkit-fill-available;
}

.distortion {
  width: 580px;
  height: 750px;
}

.modal-back {
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
}

.modal-forward {
  cursor: pointer;
  margin-left: 10px;
  user-select: none;
}

.modal-nav-container {
  padding: 5px 0;
  text-align: center;
  user-select: none;
}

.portfolio-grid {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.portfolio-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 550px;
  padding-left: 25px;
}

.logo-icon {
  height: 170px;
  width: auto;
}

.filter-button-group {
  margin-top: 34px;
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-sm{
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  height: 50px;
  width: 50px;
}

#grid {
  visibility: hidden;
}

.video {
  cursor: default !important;
}

.play-video-icon {
  position: absolute;
  left: 45%;
  bottom: 0%;
  font-size: larger;
  cursor: pointer;
}

.close-video-icon {
  position: absolute;
  left: 45%;
  bottom: 0%;
  font-size: xx-large;
  cursor: pointer;
}

.content2_videoFrame {
  width: -webkit-fill-available;
}

.button.is-checked,
.button.is-selected {
  background-color: var(--redjr);
  color: white;
}

@media screen and ( max-width: 830px ) {

  .distortion {
    display: none;
  }

  .portfolio-info {
    display: block;
    width: -webkit-fill-available;
    padding-left: 15px;
    padding-right: 15px;
  }

  .element-item {
    height: 180px;
    min-width: none;
  }

  .button {
    padding: 0px;
  }

  .modal-nav-container {
    display: none;
  }

  .play-video-icon {
    font-size: small;
  }
  
  .close-video-icon {
    font-size: medium;
    bottom: 15%;
  }
  

}